<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container d-flex h-100 m-auto">
    <div class="my-auto w-100">
        <div class="my-6 w-100">
            <p class="lead font-weight-light">Customers</p>
            <hr class="my-4 bg-info opacity">
            <p class="alert alert-danger" th:if="${error}" th:text="${error}"></p>
            <p class="alert alert-success" th:if="${success}" th:text="${success}"></p>
            <div class="w-100">
                <div class="h-100 w-100 mb-3">
                    <div class="table-responsive-xl">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">#</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="customer : ${customers}">
                                <td th:text="${customer.firstName}"></td>
                                <td th:text="${customer.lastName}"></td>
                                <td th:text="${customer.email}"></td>
                                <td th:text="${customer.phone}"></td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-info"
                                           th:href="${'/edit/'} + ${customer.id}">Edit</a>
                                        <a class="btn btn-info"
                                           th:href="${'/delete/'} + ${customer.id}">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a th:method="GET" class="btn btn-info" th:href="${'/add'}">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>